<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved.</h6>
      <p>Contact me: <a href="mailto:nayab.khan@ontariotecu.net">nayab.khan@ontariotecu.net</a></p> <!-- Email link -->
  <p>&copy; 2024 Nayab Khan. All Rights Reserved.</p> <!-- Copyright notice -->
    </nav>
  </footer>
</body>
</html>
