@media (min-width: 901px) {
    /* Styles for devices with a width of 901px and above */
    header {
        justify-content: flex-end; /* Align header items to the right */
    }
}

.navlist {
    gap: 20px; /* Set spacing between navigation links */
}

main {
    padding: 20px; /* Add padding to the main content area */
}

footer {
    padding: 20px; /* Add padding to the footer */
}
